body {
    background-color: beige;

}

.calculator-div {

    width: 400px;
    height: 600px;
    margin: 50px auto 0px auto;

    background-color: beige;
}

.outputField {
    width: 350px;
    height: 70px;
    margin: auto;
    background-color: aliceblue;
    border-radius: 30px 30px 0px 0px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 62px;
    font-family: 'Courier New', Courier, monospace;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 0px;
}

.equal-sign {
    background-color: #ffa061;
}

.all-clear {
    border-radius: 0px 0px 0px 40px;
}

.\) {
    border-radius: 0px 0px 40px 0px;
}

#displayField {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: darkslategray;
    border-radius: 40px 40px 0px 0px;
}

#buttonsField {
    width: 100%;
    height: 500px;
    background-color: slategrey;
    border-radius: 0px 0px 40px 40px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-row-gap: 3px;
    grid-column-gap: 4px;
}

button {
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 0;
}

button:active {
    background-color: lightgreen;
}

.my-btn {
    display: block;
    width: 100px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .calculator-div {
        height: 150px;
        font-size: 18px;
        padding: 10px;
    }
}